@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lora, sans-serif;
  background-color: #f7f2ed;
  color: #2e2e2e;
}

a {
  color: #c21158;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3em;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.text {
  width: 100%;
  line-height: 1.0;
  font-size: 1.0rem;
  display: flex;
  padding-top: 4rem;
  justify-content: right;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-top: 1rem;
}