/* Slider Styles
 * --------------------------------------- */

html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}



#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}

.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 35px;
}
#fp-nav.left {
    left: 35px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
.fp-slidesNav ul li {
    display: block;
    width: 10px;
    height: 13px;
    margin: 7px 4px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span{
  height: 7px;
  width: 7px;
  margin: -10px 0 0 -6px;
    border-radius: 100%;
		background: #999;
 }
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
	  height: 7px;
	  width: 7px;
    border: 0;
    background: #ccc;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -6px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.fp-slidesNav ul li:hover a span{
  height: 7px;
  width: 7px;
  margin: -10px 0 0 -6px;
}


/**/
#fp-nav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li {
    display: block;
    width: 15px;
    height: 10px;
    margin: 0 5px;
    position:relative;
}
#fp-nav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    height: 1px;
    width: 15px;
    margin: -2px 0 0 -10px;
		background: #999;
 }
#fp-nav ul li a span {
    position: absolute;
    z-index: 1;
    height: 1px;
    width: 15px;
    border: 0;
    background: #ccc;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -10px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span {
    width: 15px;
    height: 1px;
    margin: -2px 0 0 -10px;
}
/**/



.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}


/* Reset CSS
 * --------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: 600;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#666;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Site Styles
 * --------------------------------------- */
body{
	background: #fff;
	font-size: 16px;
	line-height: 1.7;
	font-family: "aktiv-grotesk", "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	letter-spacing: 0.375px;
}

a {
	color: #888;
}

a:hover {

}

ul {
	margin-bottom: 1.5em;
}

.small {
	font-size: .75em;
}

/* Simple Grid
 * --------------------------------------- */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
  padding: 10px;
    
}

.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }

.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin: 0 auto;
}

.grid .whole,          .grid .w-1-1 { width: 100%; }
.grid .half,           .grid .w-1-2 { width: 50%; }
.grid .one-third,      .grid .w-1-3 { width: 33.3332%; }
.grid .two-thirds,     .grid .w-2-3 { width: 66.6665%; }
.grid .one-quarter,    .grid .w-1-4 { width: 25%; }
.grid .three-quarters, .grid .w-3-4 { width: 75%; }
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}

.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

@media screen and (max-width: 568px) {
  .grid .unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}

@media screen and (min-width: 1180px) {
  .wider .grid {
    max-width: 1180px;
    margin: 0 auto;
  }
}




/* Content
 * --------------------------------------- */
.content{
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	position: relative;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
}
.content a {
	border-bottom: 1px solid #a5a5a5;
	color: #888;
	text-decoration: none;
}
.content a:hover {
	border-bottom: 1px solid #888;
	color: #5f5f5f;
}
.content h1 {
	color: #222;
	font-size: 1.25em;
	margin-bottom: 40px;
}
.content h2 {
	font-size: 1.25em;
	margin-bottom: 30px;
	text-align: center;
}
.content h3 {
	margin-bottom: 30px;
	text-align: center;
}
.content p.section-title {
	letter-spacing: .02em;
	margin-bottom: 1.5em;
}
.content p {
	margin-bottom: 1.5em;
}

/* Introduction
 * --------------------------------------- */
p.intro {
	font-size: 2em;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 1.4em;
	margin-bottom: 1em;
    color: #3a3a3a;
}

/* Services
 * --------------------------------------- */
ul.double {}
ul.double li {
	margin-bottom: 10px;
	width: 50%;
	float: left;
}
ul.triple {}
	ul.triple li {
		margin-bottom: 10px;
		width: 33.3%;
		float: left;
	}

/* Contact
 * --------------------------------------- */
p.quote {
	color: #b0b0b0;
}

img.profile {
	width: 100%;
	margin-bottom: 1em;
}

/* Misc
 * --------------------------------------- */

#copyright {
	position: fixed;
	bottom: 40px;
	left: 50px;
	width: 350px;
	z-index: 999;
	transform-origin: 0 0%;
	-webkit-transform-origin: 0 0%;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
#scroll {
	position: fixed;
	font-size: 12px;
	letter-spacing: .02em;
	line-height: 1.5em;
	bottom: 40px;
	right: 50%;
	margin-right: -100px;
	width: 200px;
	z-index: 999;
	text-align: center;
}
#scroll a {
	color: #d8d8d8;
	text-decoration: none;
}
#scroll a:hover span {
	display: none;
}
#scroll a:hover:before {
	color: #888;
	content:"Use arrows to navigate";
}

.love:hover {
    color: #a0161d;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.content {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.light {
	color: #b0b0b0 !important;
}

.light a {
	color: #b0b0b0 !important;
}

::selection {
    background: rgba(255,255,255,0);
    color: #b0b0b0;
    text-shadow: none;
		text-decoration: underline;
}


@media (max-width: 768px) {
	#scroll,
	#contact,
	#copyright {
		display: none;
	}

	.section {
		padding: 50px 0;
	}

	.grid .unit.one-quarter {
		width: 50% !important;
	}

	.grid .unit.half {
        padding-left: 20px;
		width: 100% !important;
	}

}

@media (min-width: 768px) and (max-width: 979px) {

	body{
		color: #888;
	}
	.content{
		max-width: 1000px;
	}

	#scroll,
	#contact,
	#copyright {
		display: none;
	}

}

@media (min-width: 1200px) {

	body{
		color: #888;
	}
	.content{
		max-width: 1000px;
	}

}

@media (min-width: 1800px) {

	body{
		color: #888;
		font-size: 18px;
	}
	.content{
		max-width: 1500px;
	}

}

